# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env

# VS Code settings
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Copilot
.copilot/